:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-redcolor: #e50914;
  --primary-blackcolor: #000000;
  

}

.rect {
  width: 250px;
  height: 150px
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
h1 {
 font-weight: bold;
 font-size: 3rem;
 line-height: 1.1;
 letter-spacing: -0.5%;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: -1.1;
  letter-spacing: -1%;
}

h3 {
  font-weight:normal;
  font-size: 1.6rem;
  line-height:normal;
  letter-spacing: 0%;
}

Primary Button  {
  font-weight:normal;
  font-size: 30px;
  line-height:normal;
  letter-spacing: 0.1%;
}

Secondary Button {
  font-weight:normal;
  font-size: 16px;
  line-height:normal;
  letter-spacing: 0%;
}

body {
  font-weight:normal;
  font-size: 26px;
  line-height:normal;
  letter-spacing: 0%;
}

Text Field {
  font-weight:normal;
  font-size: 16px;
  line-height:normal;
  letter-spacing: 0%;
}

Lead {
  font-weight:normal;
  font-size: 16px;
  line-height:normal;
  letter-spacing: 0%;
}

Subtitle {
  font-weight:normal;
  font-size: 19px;
  line-height:normal;
  letter-spacing: 0.5%;
}

